
    .gradient-text {
      background: linear-gradient(90deg, #00b4cc, #00cfc5);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }

    .hover-scale {
      transition: transform 0.3s ease;
    }

    .hover-scale:hover {
      transform: scale(1.05);
    }

    /* whatsapp */
    .whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  .whatsapp-btn img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s;
  }
  .whatsapp-btn img:hover {
    transform: scale(1.1);
  }